.side-drawer {
    height: 100%;
    background: white;
    box-shadow: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -14em;
    width: 14em;
    visibility: hidden;
    overflow-y: auto;
    transform: translateX(0);
    transition: all 0.3s ease-out;
}

.side-drawer.open {
    z-index: 10;
    visibility: visible;
    transform: translateX(14rem);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: #2196F3;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}

@media (min-width: 796px) {
    .side-drawer {
        display: none;
    }
}